@import url('https://fonts.googleapis.com/css?family=Cinzel|Indie+Flower|Rokkitt&display=swap');

.board {
    padding: 0 1em 0 1em;
    float: left;
    margin-left: 15em;
}

.square {
    background: #fff;
    border: 1px solid #999;
    border-collapse: collapse; 
    padding: 1vw;
    width: 24px;
    height: 24px;
    margin: 0;
    /* vertical-align: top; */
}

 .square:hover {
  background-color: rgba(95, 125, 180, 0.733);
  opacity: 4;
} 

.message-box {
  height: 280px;
  overflow-y: scroll;
}


div.roomDetail>p{
  display: block;
  font-family: 'Rokkitt', serif;
  font-size: 1.5em
}

.icon {
    max-width: 12px;
    max-height: 12px;
    position: relative;
    display: block;
}