@import url('https://fonts.googleapis.com/css?family=Cinzel|Indie+Flower&display=swap');

a{
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 150%;
  border: solid 1px rgba(150, 90, 41, 0.692);
  background: rgb(165, 71, 71);
  padding: 50 px;
  margin:20 px;
}
a:visited {
  color: black;
}
a:hover {
  color:Chocolate 
}

body{
  text-align: center
}

label{
  padding: 10px;
  text-align: center;
  background-color: Ivory;
  display: block;
  font-size: 1.5em
}

body{
  background: ivory;
  font-family: 'Indie Flower', cursive;
}

h4{
  font-size: 2em;
  font-family: 'Cinzel', serif;
}

input{
  padding: 5px;
  margin: 3ex;
}

button{
  color: #fff;
  text-decoration: none;
  background-color: #000;
  padding: 30px 60px;
  border-radius: 0px;
  font-weight: 800;
  font-size: 24px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}